[submodule "debian/submodules/ungoogled-chromium"]
	path = debian/submodules/ungoogled-chromium
	url = https://github.com/ungoogled-software/ungoogled-chromium.git
[submodule "debian/submodules/chromium-launcher"]
	path = debian/submodules/chromium-launcher
	url = https://github.com/foutrelis/chromium-launcher.git
