Source: chromium-browser
Section: web
Priority: optional
Maintainer: Ubuntu Mozilla Team <ubuntu-mozillateam@lists.ubuntu.com>
Vcs-Bzr: https://code.launchpad.net/~chromium-team/chromium-browser/chromium-browser.head
Homepage: http://code.google.com/chromium/
Build-Depends: cdbs,
	debhelper (>= 5),
	libc6-dev-i386 [amd64],
	pkg-config,
	scons,
	quilt,
	patchutils (>= 0.2.25),
	python,
	bison,
	flex,
	gperf,
	python-tlslite,
	libjpeg62-dev,
	libbz2-dev,
	libxml2-dev,
	libxslt1-dev,
	lzma-dev,
	libhunspell-dev,
	libsqlite3-dev,
	libnss3-dev,
	libnspr4-dev,
	libpango1.0-dev,
	libglib2.0-dev,
	libgtk2.0-dev
Standards-Version: 3.8.0

Package: chromium-browser
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Chromium browser
 Chromium is an open-source browser project that aims to build a safer, faster,
 and more stable way for all Internet users to experience the web.
 .
 This package contains the Chromium browser

Package: chromium-browser-dbg
Architecture: i386
Section: devel
Priority: optional
Depends: ${shlibs:Depends}, ${misc:Depends}, chromium-browser (= ${binary:Version})
Description: chromium-browser debug symbols
 Debug symbols for the Chromium browser

Package: chromium-testsuite
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}, chromium-browser (= ${binary:Version}), msttcorefonts, python-tlslite
Description: Chromium test suite
 Chromium is an open-source browser project that aims to build a safer, faster,
 and more stable way for all Internet users to experience the web.
 .
 This package contains a test suite, not the actual Chromium browser

Package: chromium-testsuite-dbg
Architecture: i386
Section: devel
Priority: optional
Depends: ${shlibs:Depends}, ${misc:Depends}, chromium-testsuite (= ${binary:Version})
Description: chromium-testsuite debug symbols
 Debug symbols for the Chromium test suite
