Source: chromium-browser
Section: web
Priority: optional
Maintainer: Fabien Tassin <fta@ubuntu.com>
Vcs-Bzr: https://code.launchpad.net/~chromium-team/chromium-browser/chromium-browser.head
Homepage: http://code.google.com/chromium/
Build-Depends: cdbs,
	debhelper (>= 5),
	libc6-dev-i386 [amd64],
	ia32-libs [amd64],
	ia32-libs-chromium-browser [amd64],
	pkg-config,
	lzma,
	scons,
	quilt,
	g++-4.3 | g++-4.2,
	g++-4.3-multilib [amd64] | g++-4.2-multilib [amd64],
	patchutils (>= 0.2.25),
	python,
	bison,
	flex,
	gperf,
	gdb,
	wdiff,
	python-tlslite,
	timeout,
	xvfb,
	xbase-clients,
	xfonts-base,
	ttf-kochi-gothic,
	ttf-kochi-mincho,
	libjpeg62-dev,
	libbz2-dev, lib32bz2-dev [amd64],
	zlib1g-dev, lib32z1-dev [amd64],
	libxml2-dev,
	libxslt1-dev,
	lzma-dev,
	libhunspell-dev,
	libsqlite3-dev,
	libasound2-dev, lib32asound2-dev [amd64],
	libnss3-dev,
	libnspr4-dev,
	libpango1.0-dev,
	libglib2.0-dev,
	libgtk2.0-dev,
	libgconf2-dev
Standards-Version: 3.8.0

Package: chromium-browser
Architecture: i386 amd64 lpia
Pre-Depends: lzma
Depends: ${shlibs:Depends}, ${misc:Depends}, ia32-libs-chromium-browser [amd64], lib32asound2 [amd64], chromium-codecs-ffmpeg | chromium-codecs-ffmpeg-nonfree
Suggests: chromium-browser-l10n
Description: Chromium browser
 Chromium is an open-source browser project that aims to build a safer, faster,
 and more stable way for all Internet users to experience the web.
 .
 This package contains the Chromium browser

Package: chromium-browser-dbg
Architecture: i386 amd64 lpia
Section: devel
Priority: optional
Pre-Depends: lzma
Depends: ${shlibs:Depends}, ${misc:Depends}, chromium-browser (= ${binary:Version})
Description: chromium-browser debug symbols
 Debug symbols for the Chromium browser

Package: chromium-browser-l10n
Architecture: all
Pre-Depends: lzma
Depends: ${shlibs:Depends}, ${misc:Depends}, chromium-browser (= ${binary:Version})
Breaks: chromium-browser (<< 3.0.197.0~svn20090804r22432)
Replaces: chromium-browser
Description: chromium-browser language packages
 Chromium is an open-source browser project that aims to build a safer, faster,
 and more stable way for all Internet users to experience the web.
 .
 This package contains language packages for 50 languages:
 ar, bg, bn, ca, cs, da, de, el, en-GB, es-419, es, et, fi, fil, fr, gu, he,
 hi, hr, hu, id, it, ja, kn, ko, lt, lv, ml, mr, nb, nl, or, pl, pt-BR, pt-PT,
 ro, ru, sk, sl, sr, sv, ta, te, th, tr, uk, vi, zh-CN, zh-TW

Package: chromium-testsuite
Architecture: i386 amd64 lpia
Pre-Depends: lzma
Depends: ${shlibs:Depends}, ${misc:Depends}, chromium-browser (= ${binary:Version}), msttcorefonts, python-tlslite
Description: Chromium test suite
 Chromium is an open-source browser project that aims to build a safer, faster,
 and more stable way for all Internet users to experience the web.
 .
 This package contains a test suite, not the actual Chromium browser

Package: chromium-testsuite-dbg
Architecture: i386 amd64 lpia
Section: devel
Priority: optional
Pre-Depends: lzma
Depends: ${shlibs:Depends}, ${misc:Depends}, chromium-testsuite (= ${binary:Version})
Description: chromium-testsuite debug symbols
 Debug symbols for the Chromium test suite
