name: OBS Upload

on:
  workflow_dispatch:
  release:
    types:
      - published

jobs:
  obs-upload:
    runs-on: ubuntu-latest
    steps:
      - uses: styfle/cancel-workflow-action@0.9.0
        with:
          access_token: ${{ github.token }}
      - uses: actions/checkout@v2
      - name: Convert from shallow repository to full repository
        run: git fetch --unshallow
      - name: Initialize ungoogled-chromium submodule
        run: git submodule update --init --recursive
      - name: Install extra packages
        run: sudo apt install -y xmlstarlet
      - name: Run OBS Upload Script
        env:
          OBS_API_USERNAME: ${{ secrets.OBS_API_USERNAME }}
          OBS_API_PASSWORD: ${{ secrets.OBS_API_PASSWORD }}
          OBS_API_PROJECT: ${{ secrets.OBS_API_PROJECT }}
        run: .github/workflows/obs-upload.sh
